#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body h2 {
  background: black;
  color: orange;
  border-radius: 1rem;
  width: 100%;

}

.cookie-clicker {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-image: linear-gradient(tan, black);
  border-radius: 1rem;
}

.cookie-clicker p {
  color: white;
}

.cookie-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.cookie-button img{
  width: 50px;
}

.cat-facts {
  width: 100%;
  max-width: 600px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(tan, black);
  padding: 2rem;
}

.cat-facts img {
  width: 250px;
  border-radius: 1rem;
}

.cat-facts p {
  color: white;
}