#root {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body {
  min-height: 150vh;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to top right, rgb(125, 62, 39), black, rgb(125, 62, 39));
}

body h2 {
  background: black;
  color: orange;
  border-radius: 1rem;
  width: 100%;
}

.cookie-clicker {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-image: linear-gradient(tan, black);
  border-radius: 0.5rem;
}

.cookie-clicker img {
  width: 100px;
}

.cookie-clicker p {
  color: white;
}

.cookie-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.cookie-button:active {
  transform: scale(110%);
}

.cookie-button img{
  width: 50px;
}

.cat-facts {
  width: 100%;
  max-width: 600px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(tan, black);
  padding: 2rem;
}

.cat-facts img {
  width: 250px;
  border-radius: 0.5rem;
}

.cat-facts button {
  border-radius: 0.5rem;
  background-color: rgb(81, 43, 0);
  color: rgb(255, 192, 98);
  padding: 0.5rem;
  cursor: pointer;
}
.cat-facts button:hover {
  background-color:rgb(129, 69, 0);
}

.cat-facts p {
  background-color: rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  padding: 1rem;
}

.cat-facts p span {
  color: gold;
  font-size: 1.2rem;
}

.user-component {
  width: 100%;
  max-width: 1280px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(210, 180, 140, 0.7);
  padding: 2rem;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;
}

.user-card {
  flex: 1;
  text-align: start;
  list-style: none;
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.5) -100%, black, rgba(255, 255, 255, 0.5) 200%);
  padding: 2rem;
  border-radius: 0.5rem;
}

.user-card p strong {
  color: orange;
}

.new-user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.new-user-form {
  font-size: 1.2rem;
}

.new-user-form input {
  font-size: 1.2rem;
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: 0.5rem;
}

.new-user-form label {
  color: tan;
  background-color: rgba(0,0,0,0.5);
  width: fit-content;
  padding: 0 1rem;
  border-radius: 1rem;
}

.new-user-form button {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: tan;
  font-weight: 800;
  cursor: pointer;
}

.new-user-form button:hover {
  background-color:rgb(255, 220, 133);
}